#header-app {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue);
}
#header-app h3 {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-text-white);
}