#dashboard {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    height: 100%;
}

#dashboard .title {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

#dashboard .title button {
    height: 40px;
    background-color: var(--color-blue);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    color: var(--color-text-white);
    font-size: 13px;
    font-weight: 500;
    font-family: 'Montserrat';
}

#dashboard .title button:hover {
    background-color: var(--color-blue-secundary);
    transition: 0.5s;
}

#dashboard table {
    width: 100%;
    background-color: var(--color-text-white);
    border: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
}

#dashboard table thead {
    background-color: var(--color-blue);
    color: var(--color-text-white);
}

#dashboard table tr {
    width: 100%;
    display: flex;
}

#dashboard table td.border,
#dashboard table th.border {
    border-left: 0px ;
}

#dashboard table td, 
#dashboard table th {
    flex: 1;
    border-left: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0px;
}

#dashboard table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#dashboard table td {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dashboard table td button {
    height: 30px;
    width: 30px;
    margin: 2px;
    border-radius: 3px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

#dashboard table td button.edit {
    background-color: var(--color-blue);
}
#dashboard table td button.edit:hover {
    background-color: var(--color-blue-secundary);
}
#dashboard table td button.delete {
    background-color: var(--color-red);
}
#dashboard table td button.delete:hover {
    background-color: var(--color-red-secundary);
}

#dashboard .not-products {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dashboard .not-products span {
    font-size: 18px;
}

@media only screen and (max-width: 480px) {
    #dashboard .title {
        flex-direction: column;
        margin-bottom: 10px;
    }
    #dashboard .title h2 {
        margin: 10px 0px;
    }
}
@media only screen and (max-width: 580px) {
    #dashboard .title {
        width: 100%;
    }
}