body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-white: #F6F6F6;
  --color-border: #E7E7E7;
  --color-text: #2C3357;
  --color-blue-secundary: #2196F3;
  --color-blue: #1976D2;
  --color-text-white:#FFFFFF;
  --color-red: #f44336;
  --color-red-secundary: #ef5350;
}