#footer-app {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue);
}

#footer-app span {
    padding: 6px;
    color: var(--color-text-white);
}